body {
    font-family: Oswald;
    margin: 0;

}

header {
    background: #3c275a;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-weight: 400;
}

#navbar {
    overflow: hidden;
    background: #4F3674;
    border-bottom: 15px solid #D6A800;
}

#navbar a {
    display: block;
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background: #D6A800;
    color: #4F3674;
}

/* Set the top margin to 2% */
/* Set the left margin to 5% */
/* Set the right margin to 5% */
/* Give the container a padding of 10px  */

#container {
    margin: 2% 5% 5% 5%;
    padding: 10px;
    border: 1px solid #ccc;
}

/* 
Set the box shadow to 0 4px 8px 0 and an rgba(0, 0, 0, 0.2)
Set the transition to 0.3s
Set the width to 50%
*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;
}

.card-title {
    /* 
    Center the text
    Set the font-size to 2em
    Set the color 4F3674
    Set the weight to 400
    */
    text-align: center;
    font-size: 2em;
    color: #4F3674;
    font-weight: 400;
}

.card-content {
    /* Set the padding to “2px 16px” */
    /* When users hover over the card set the box shadow to 0 8px 16px 0 rgba(0, 0, 0, 0.2) */
    padding: 2px 16px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
} 

footer {
    /* 
    Set the background color to #4F3674
Set the position to absolute 
Set the bottom to 0
Give it a width of 100%
    */
    background: #4F3674;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    /* 
    Set the color to white 
Set the weight to 400
Float the text to the right 
Give it a right padding of 10px
Set the font-style to italic
Set the font-size to .75em
    */
    color: #fff;
    font-weight: 400;
    float: right;
    padding-right: 10px;
    font-style: italic;
    font-size: .75em;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}